.MMM-FOSHKplugin-PWS-Observations .weathericon {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
} 
.MMM-FOSHKplugin-PWS-Observations .day {
  padding-left: 0;
#  padding-right: 10px;
}

.MMM-FOSHKplugin-PWS-Observations .weather-icon {
  padding-left: 0px;
  text-align: center;
}

.MMM-FOSHKplugin-PWS-Observations .max-temp {
  padding-left: 0px;
  padding-right: 0;
}

.MMM-FOSHKplugin-PWS-Observations .min-temp {
#  padding-left: 10px;
#  padding-right: 0;
}

.MMM-FOSHKplugin-PWS-Observations .forecastText {
# padding-left: 10px;
#  padding-right: 0;
#  word-wrap: break-word;
#  text-align: right;
#  rowspan: 0;
}

.MMM-FOSHKplugin-PWS-Observations .tableheader {
  width: 150px;
  font-size: 75%;
  text-align: center;
} 

.MMM-FOSHKplugin-PWS-Observations .hour {
  font-size: 75%;
  text-align: center;
 } 

.MMM-FOSHKplugin-PWS-Observations .pop {
  font-size: 75%;
} 

.MMM-FOSHKplugin-PWS-Observations .popr {
  text-align: right;
  font-size: 75%;
  padding-left: 10px;
} 

.MMM-FOSHKplugin-PWS-Observations .poptimer {
  text-align: right;
  font-size: 75%;
  padding-left: 10px;
  line-height: 1;
} 

.MMM-FOSHKplugin-PWS-Observations .mm {
  font-size: 75%;
} 

.MMM-FOSHKplugin-PWS-Observations .green {
  color: #83FFB3;
}

.MMM-FOSHKplugin-PWS-Observations .yellow {
  color: yellow;
}

.MMM-FOSHKplugin-PWS-Observations .red {
  color: #FF4C4C;
}

.MMM-FOSHKplugin-PWS-Observations .large1 {
  line-height: .8cm !important;
  width: 150px;
  float: right;
}

.MMM-FOSHKplugin-PWS-Observations .region.middle.center {
	width: 150px;
	float: right;
}
